body{
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}

html{
    font-size: 20px;
}

.blue{
    color: skyblue;
}

.pink{
    color: rgb(255, 192, 203);
}

h1{
    font-size: 2rem;
    letter-spacing: 1.2em;
    border-bottom: solid 3px rgb(115, 115, 114);
    text-shadow: 3px 3px 3px rgb(227, 139, 139);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#basic p {
    font-weight: 600;    
}